In [5]:
#Type1 : To drop columns

import pandas as pd

books_data=pd.read_csv("books.csv")
books_data=books_data.drop(['Edition Statement','Corporate Author','Former owner','Engraver','Issuance type','Shelfmarks'],axis=1)
print(books_data.loc[0])

Identifier                                                              206
Place of Publication                                                 London
Date of Publication                                             1879 [1878]
Publisher                                                  S. Tinsley & Co.
Title                                     Walter Forbes. [A novel.] By A. A
Author                                                                A. A.
Contributors                                                FORBES, Walter.
Corporate Contributors                                                  NaN
Flickr URL                http://www.flickr.com/photos/britishlibrary/ta...
Name: 0, dtype: object

In [6]:

#Type 2: Drop columns using usecols argument in read_csv

import pandas as pd

books_data=pd.read_csv("./books.csv",usecols=['Identifier',  'Place of Publication',
       'Date of Publication', 'Publisher', 'Title', 'Author', 'Contributors', 'Flickr URL'])
print(books_data)

      Identifier      Place of Publication Date of Publication  \
0            206                    London         1879 [1878]
1            216  London; Virtue & Yorston                1868
2            218                    London                1869
3            472                    London                1851
4            480                    London                1857
...          ...                       ...                 ...
8282     4158088                    London                1838
8283     4158128                     Derby            1831, 32
8284     4159563                    London           [1806]-22
8285     4159587       Newcastle upon Tyne                1834
8286     4160339                    London             1834-43

                    Publisher  \
0            S. Tinsley & Co.
1                Virtue & Co.
2       Bradbury, Evans & Co.
3               James Darling
4        Wertheim & Macintosh
...                       ...
8282                      NaN
8283          M. Mozley & Son
8284  T. Cadell and W. Davies
8285         Mackenzie & Dent
8286                      NaN

                                                  Title  \
0                     Walter Forbes. [A novel.] By A. A
1     All for Greed. [A novel. The dedication signed...
2     Love the Avenger. By the author of â€œAll for Gr...
3     Welsh Sketches, chiefly ecclesiastical, to the...
4     [The World in which I live, and my place in it...
...                                                 ...
8282  The Parochial History of Cornwall, founded on,...
8283  The History and Gazetteer of the County of Der...
8284  Magna Britannia; being a concise topographical...
8285  An historical, topographical and descriptive v...
8286  Collectanea Topographica et Genealogica. [Firs...

                                                 Author  \
0                                                 A. A.
1                                             A., A. A.
2                                             A., A. A.
3                                             A., E. S.
4                                             A., E. S.
...                                                 ...
8282                 GIDDY, afterwards GILBERT, Davies.
8283                         GLOVER, Stephen - of Derby
8284  LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...
8285                              Mackenzie, E. (Eneas)
8286                                                NaN

                                           Contributors  \
0                                       FORBES, Walter.
1          BLAZE DE BURY, Marie Pauline Rose - Baroness
2          BLAZE DE BURY, Marie Pauline Rose - Baroness
3                           Appleyard, Ernest Silvanus.
4                                   BROOME, John Henry.
...                                                 ...
8282  BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...
8283                                     NOBLE, Thomas.
8284           GREGSON, Matthew.|LYSONS, Samuel - F.R.S
8285                               ROSS, M. - of Durham
8286            BANDINEL, Bulkeley.|Nichols, John Gough

                                             Flickr URL
0     http://www.flickr.com/photos/britishlibrary/ta...
1     http://www.flickr.com/photos/britishlibrary/ta...
2     http://www.flickr.com/photos/britishlibrary/ta...
3     http://www.flickr.com/photos/britishlibrary/ta...
4     http://www.flickr.com/photos/britishlibrary/ta...
...                                                 ...
8282  http://www.flickr.com/photos/britishlibrary/ta...
8283  http://www.flickr.com/photos/britishlibrary/ta...
8284  http://www.flickr.com/photos/britishlibrary/ta...
8285  http://www.flickr.com/photos/britishlibrary/ta...
8286  http://www.flickr.com/photos/britishlibrary/ta...

[8287 rows x 8 columns]

In [7]:
# Remove Inconsistencies from dataset
# Tidying Up the data

import pandas as pd
import re
 
books_data=pd.read_csv("./books.csv",usecols=['Identifier',  'Place of Publication',
       'Date of Publication', 'Publisher', 'Title', 'Author', 'Contributors', 'Flickr URL'])
df=books_data["Date of Publication"].str.extract(r'(\d{4})').replace(r'nan','0',regex=True).replace(r'NaN','0',regex=True)
df1=books_data["Place of Publication"].str.extract(r'([^\s]+)').replace(';','',regex=True).replace(r'','Unknown',regex=True)
series1=df.iloc[:,0]
series2=df1.iloc[:,0]
series1=pd.to_numeric(series1,errors='raise',downcast=None)
books_data["Date of Publication"]=series1
books_data["Place of Publication"]=series2
print(type(books_data["Date of Publication"].loc[0]))

<class 'numpy.float64'>

In [8]:
#C Using ApplyMap

import pandas as pd
import re

universityDF=pd.read_csv(r'.\uniplaces.txt',names=["Region"])
universityDF['State']=universityDF['Region'].str.extract('(.*)\[edit\]',expand=False).ffill()
universityDF['Town']=universityDF['Region'].str.extract('(.*)\(\D*\)',expand=False).ffill()
universityDF['University']=universityDF["Region"].str.extract('\((.*?)\)',expand=False).ffill()
universityDF=universityDF.drop("Region",axis=1)
universityDF=universityDF.dropna()

def removeInconsistency(val):
    val=re.sub(r'\(.*',"",str(val))
    val=re.sub(r'-.*',"",str(val))
    val=re.sub(r'\[\d*]',"",str(val))
    return val

universityDF=universityDF.applymap(removeInconsistency)
universityDF.to_csv(r".\uniplaces.csv",index=None)

In [9]:
# D Decoding
import pandas as pd

busDF=pd.read_csv("trimet_03411_2.csv")
temp=[]
for idx,row in busDF.iterrows():
    num=row["OCCURRENCES"]
    for i in range(num):
        temp.append(row)
trimetDF=pd.DataFrame(temp)
print(trimetDF)

      VEHICLE_BREADCRUMB_ID  VEHICLE_NUMBER EQUIPMENT_CLASS  \
0                4313659804            3411               B
1                4313659805            3411               B
2                4313659806            3411               B
3                4313659807            3411               B
4                4313659808            3411               B
...                     ...             ...             ...
1236             4313659800            3411               B
1237             4313659801            3411               B
1238             4313659802            3411               B
1239             4313659803            3411               B
1240             4311203411            2934               B

         ARRIVE_DATETIME        SERVICE_DATE  ARRIVE_TIME   LONGITUDE  \
0     29OCT2021:07:16:40  29OCT2021:00:00:00      26200.0 -122.799683
1     29OCT2021:07:16:45  29OCT2021:00:00:00      26205.0 -122.799692
2     29OCT2021:07:16:50  29OCT2021:00:00:00      26210.0 -122.799703
3     29OCT2021:07:16:55  29OCT2021:00:00:00      26215.0 -122.799717
4     29OCT2021:07:17:00  29OCT2021:00:00:00      26220.0 -122.799732
...                  ...                 ...          ...         ...
1236  29OCT2021:07:16:20  29OCT2021:00:00:00      26180.0 -122.799635
1237  29OCT2021:07:16:25  29OCT2021:00:00:00      26185.0 -122.799655
1238  29OCT2021:07:16:30  29OCT2021:00:00:00      26190.0 -122.799660
1239  29OCT2021:07:16:35  29OCT2021:00:00:00      26195.0 -122.799667
1240  29OCT2021:15:08:33  29OCT2021:00:00:00      54513.0 -122.677833

       LATITUDE  DWELL   DISTANCE  SPEED  SATELLITES  HDOP  OCCURRENCES  \
0     45.530268      0  121213.91     26          12   0.9            1
1     45.529737      0  121404.20     26          12   0.8            1
2     45.529232      0  121584.65     25          12   0.9            1
3     45.528730      0  121768.38     25          12   0.7            1
4     45.528243      0  121942.26     24          12   1.1            1
...         ...    ...        ...    ...         ...   ...          ...
1236  45.532347      0  120462.60     26          12   0.7            1
1237  45.531832      0  120649.61     26          12   0.8            1
1238  45.531313      0  120836.62     26          12   0.7            1
1239  45.530790      0  121023.63     26          12   0.7            1
1240  45.500667      0  127867.46     37          10   0.8            1

     VALID_FLAG LAST_USER      LAST_TIMESTAMP
0             Y     TRANS  31OCT2021:06:06:40
1             Y     TRANS  31OCT2021:06:06:40
2             Y     TRANS  31OCT2021:06:06:40
3             Y     TRANS  31OCT2021:06:06:40
4             Y     TRANS  31OCT2021:06:06:40
...         ...       ...                 ...
1236          Y     TRANS  31OCT2021:06:06:40
1237          Y     TRANS  31OCT2021:06:06:40
1238          Y     TRANS  31OCT2021:06:06:40
1239          Y     TRANS  31OCT2021:06:06:40
1240          Y     TRANS  30OCT2021:06:21:52

[2042 rows x 17 columns]

In [10]:
# E Filling missing values in VALID_FLAG

import pandas as pd

busDF=pd.read_csv("trimet_03411_2.csv")
temp=[]
for idx,row in busDF.iterrows():
    num=row["OCCURRENCES"]
    for i in range(num):
        temp.append(row)
trimetDF=pd.DataFrame(temp)
trimetFillValues=pd.read_csv("trimet_03411_2.csv")
trimetFillValues["VALID_FLAG"].ffill(axis=0)
null_Result=trimetFillValues["VALID_FLAG"].isnull().values.any()
uniqResult=trimetFillValues["VALID_FLAG"].unique()
print(uniqResult)

['Y' nan]

In [11]:
# F Interpolating 

def changeValue(val):
    if not val:
        val=temp+5
    else:
        temp=val
    return val
interpolateDF=pd.read_csv("trimet_03411_2.csv")
interpolateDF=interpolateDF['ARRIVE_TIME'].interpolate().apply(changeValue)
interpolateDF.to_csv("interpolate_result.csv")